imap_server: pop.example.org
imap_username: 'test@example.org'
imap_password: 'password'
imap_port: 995
use_ssl: true
from_address: 'test@example.org'
to_address: 'test@example.com'
processing_count: 100
images_folder: 'images/'